@import '~bulma/bulma';

//text colors
$text_white : #FFFFFF;
$text_deep_gray : #20201F;
$text_green : #3AAA35;

//background colors
$mint_green : #42E25E;
$green : #3AAA35;
$blue : #1A7D9C;
$navy_blue : #3420A4;



@import url('https://fonts.googleapis.com/css?family=Francois+One|Roboto');


//
$francois_one: "'Francois One', sans-serif";
//$coolvetica_2 : "";
$roboto_black :  "'Roboto', sans-serif";
//$roboto_white : "";

.is-column-centered {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  font-family: $roboto_black;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
